/* App Wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
.subWrapper {
  display: flex;
  flex-direction: row;
}
/* Navbar */
.navbarWrapper {
  display: flex;
  font-size: 24px;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  width: 100%;
}
.navbarLogo {
  font-size: 48px;
  padding-left: 10px;
}
.navbarSearchBar input {
  width: 200px;
  height: 30px;
  padding-left: 10px;
  border: solid black 2px;
  border-radius: 5px;
}
.navbarSearchBar input:focus {
  outline: 0;
  transition: 0.3s;
  width: 400px;
}
.navbarSearchBar input:not(focus) {
  outline: 0;
  transition: 0.3s;
  width: 200px;
}
.navbarCart {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-right: 20px;
  background-color: #c0c7e07c;
}
/* Category */
.categoryWrapper {
  display: flex;
  padding-top: 20px;
  gap: 20px;
  flex-direction: column;
  flex-shrink: 0;
  width: 250px;
}
.categoryBlock {
  display: flex;
  padding: 0 10px 0 10px;
  flex-direction: column;
  gap: 5px;
}
.categoryHeader {
  font-size: 2rem;
}
.categoryRow {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.1rem;
}
.categoryRow:hover .categorySvg {
  transition: 0.5s;
  filter: grayscale(1) invert(0);
}
.categoryRow:not(:hover) .categorySvg {
  transition: 0.5s;
  background-color: white;
  filter: invert(100%);
}

.categoryRow img {
  width: 30px;
  height: auto;
  padding: 5px;
  border-radius: 10px;
}
/* Store Page */
.shopWrapper {
  padding: 0px 20px 0 20px;
  width: 100%;
}
.shopHeader {
  font-size: 72px;
  font-weight: bolder;
  padding-bottom: 18px;
}
.shopSection {
  display: grid;
  width: 100%;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
/* Card */
.cardWrapper {
  max-width: 700px;
  color: #050609;
  background-color: #f1f7ed;
  box-shadow: 0.5rem 0.5rem 0 0 #272b38;
  border-radius: 1rem;
}
.cardWrapper:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.cardWrapper:not(:hover) {
  transition: 0.3s;
  transform: scale(1);
}
.cardImage {
  position: relative;
  max-width: 700px;
}
.cardImage img {
  width: 100%;
  max-width: 700px;
  height: 200px;
  object-fit: cover;
  aspect-ratio: 1.7 / 1;
  border-radius: 1rem 1rem 0 0;
}
.cardAddButton {
  cursor: pointer;
  margin: 10px;
  float: right;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: rgba(138, 218, 20);
  border-radius: 1rem;
}
.cardName {
  font-size: 22px;
}
.cardDescriptionWrapper {
  display: flex;
  height: 100px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f1f7ed;
  border-radius: 0 0 1rem 1rem;
}
.cardDescriptionWrapper > div {
  padding: 10px;
}
.cardDescriptionTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
